@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #000;
  color: #fff;
}

footer {
  width: 100%;
  height: calc(100vh - (100vh - 70px));
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .legal-text {
  color: lightgrey;
  font-weight: 500;
  font-size: 1.3rem;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.modal h1 {
  font-size: 4rem;
  font-weight: 700;
}
.modal button {
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 30px;
  background-color: #818181;
}

.modal button:hover {
  background-color: #fff;
}

nav {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 1px;
}

.container {
  width: 90%;
  max-width: 1400px;
  height: calc(100vh - 250px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 600px;
  height: 600px;
}

.gameboard .cell {
  border: 2px solid #fff;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cell Specific Styles */
.gameboard .cell.top-left {
  border-top: none;
  border-left: none;
}
.gameboard .cell.top-middle {
  border-top: none;
}
.gameboard .cell.top-right {
  border-top: none;
  border-right: none;
}

.gameboard .cell.bottom-left {
  border-bottom: none;
  border-left: none;
}
.gameboard .cell.bottom-middle {
  border-bottom: none;
}
.gameboard .cell.bottom-right {
  border-bottom: none;
  border-right: none;
}

.gameboard .cell.middle-left {
  border-left: none;
}
.gameboard .cell.middle-right {
  border-right: none;
}

/* Modal hide and show */

.visible {
  display: flex;
}
